<div class="col-md-8 col-md-offset-2 request-fields">
  <div class="col-md-12 form-group">

        <%= f.label t("users.vehicles.vehicle_fields.name") %>
        <%= f.text_field :name, :class => 'form-control', :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter a vehicle name."  %>
        <%= f.label t("users.vehicles.vehicle_fields.description") %>
        <%= f.input :description, label: false%>
        <%= f.label t("users.vehicles.vehicle_fields.license-plate") %>
        <%= f.input :license_plate, :class => 'form-control', label: false %>

        <%= f.input :alpr_license_plate, :class => 'form-control', :input_html => {:type => 'hidden'} , :label => false %>
        <%= f.label t("users.vehicles.vehicle_fields.model") %>
        <%= f.input :model, label:false %>
  </div>
  <div class="col-md-12 form-group">
        <div class="fileinput-image">
            <% unless @vehicle.vgyme_image_url.nil? %>
                <img src="<%= @vehicle.image_url %>" style="width:250px; height:250px" >

            <% else %>
                <h5><%= t("users.vehicles.vehicle_fields.no-image") %></h5>
            <% end %>
        </div>

        <span class="btn btn-success fileinput-button">
            <div class="col-2" style="margin-left: 50px">
                <%= f.file_field :vgyme_image_url, accept: '*', data: { 'resource-name' => 'image'}, :class => "vgyme_image_upload" %>
            </div>
            <!-- Change based on action -->
            <% if current_page?(action: 'new')|| @vehicle.vgyme_image_url.nil? %>
              <span><%= t("users.vehicles.vehicle_fields.upload-image") %></span>
            <% else %>
              <span><%= t("users.vehicles.vehicle_fields.change-image") %></span>
            <% end %>

        </span>

  </div>
</div>