<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">

      <h2 class="text-center" style="margin-top: 20px; margin-bottom: 20px;"><%= t("users.vehicles.index.title") %></h2>

      <table class="table">
        <thead class="thead-dark" >
        <tr>
            <th scope="col"><%= t("users.vehicles.index.th-name") %></th>
            <th scope="col"><%= t("users.vehicles.index.th-description") %></th>
            <th scope="col"><%= t("users.vehicles.index.th-license") %></th>
            <th scope="col"><%= t("users.vehicles.index.th-analyzed") %></th>
            <th scope="col"><%= t("users.vehicles.index.th-delete") %></th>
        </tr>
        </thead>
        <tbody>
        <% @vehicles.each do |vehicle|%>
        <tr>
            <td><%= vehicle.name%></td>
            <td><%= vehicle.description%></td>
            <td><%= vehicle.license_plate%></td>
            <td><%= vehicle.alpr_license_plate%></td>
            <td><%= link_to t(".link-delete"), vehicle_destroy_path(vehicle),:method => :delete %>/<%= link_to t(".link-edit"), vehicle_edit_path(vehicle) %></td>
        </tr>
        <% end %>
        </tbody>
      </table>

      <div class="d-flex justify-content-center" style="margin-bottom: 40px;">
          <%= link_to t("users.vehicles.index.create-button"), vehicle_new_path, :class => 'btn btn-primary '%>
      </div>

    </div>
  </div>
</div>

