<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">

        <h1 class="text-center form-title"><%= t("users.vehicles.new.title") %></h1>

        <%= simple_form_for(@vehicle, :url => vehicle_new_path(@vehicle), :html => { :class => 'form-group directFileUpload custom-form', :role => 'form'}) do |f| %>

            <%= render 'vehicle_fields', f: f %>

            <div class="col-md-8 col-md-offset-2 d-flex justify-content-center">
              <%= f.button :submit, t("users.vehicles.new.create-button"), :class => 'btn btn-primary' %>
            </div>

        <% end %>

    </div>
  </div>
</div>

<script>
    $(document).ready(function(){
        InitFileUpload();
    });
</script>