<%= simple_form_for(@driver, :url => driver_new_path(@driver), :html => { :id => "form_driver", :class => 'form-group directFileUpload custom-form', :role => 'form'}) do |f| %>

    <div class="col-md-8 col-md-offset-2 request-fields">
            <div class="col-md-12 form-group">

                <%= f.label :driver_license_number, "Driver license number" %>
                <%= f.text_field :driver_license_number, :class => 'form-control', :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter your driver license number."  %>

                <%= f.input :expiry_date, :input_html => {:type => 'date'} %>
                <%= f.input :birth_date, :input_html => {:type => 'date'} %>
            </div>

            <div class="col-md-12 form-group">

                <%= f.label :license_image_url,"Image Upload" %>
                <div class="fileinput-image">
                    <% unless @driver.license_image_url.nil? %>
                        <img src="<%= @driver.image_url %>" style="width:250px; height:250px" >
                    <% else %>
                        <h2>No Image</h2>
                    <% end %>
                </div>

                <span class="btn btn-success fileinput-button">
                          <!-- Change based on action -->
                    <% if current_page?(action: 'new')|| @driver.license_image_url.nil? %>
                    <span>Upload Image</span>
                  <% else %>
                    <span>Change Image</span>
                  <% end %>

                    <%= f.file_field :license_image_url, accept: '*', data: { 'resource-name' => 'image'} %>
                </span>

            </div>

    </div>



    <div class="col-md-8 col-md-offset-2 d-flex justify-content-center">
      <%= f.button :submit, :class => 'btn btn-primary' %>
    </div>

<% end %>

<script>
    $(document).ready(function(){
        InitFileUpload();
    });
</script>