<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">

        <h2 class="text-center"> The list of currently available drivers </h2>

        <% @drivers.each do |driver|%>
            <div class="card-deck">
                <div class="card">
                    <img src="<%= driver.license_image_url %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="<%= driver_show_path(driver) %>" class="card-title text-center"><%= driver.user.first_name %> <%= driver.user.last_name %></a>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img src="<%= driver.license_image_url %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="<%= driver_show_path %>" class="card-title text-center"><%= driver.user.first_name %> <%= driver.user.last_name %></a>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img src="<%= driver.license_image_url %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="<%= driver_show_path %>" class="card-title text-center"><%= driver.user.first_name %> <%= driver.user.last_name %></a>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        <% end %>

    </div>
  </div>
</div>