<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">

      <h2 class="text-center"> The list of Toll Device Request History </h2>
      <%= @req.start_time %>
      <%= @req.end_time %>
      <%= @req.vehicle_id %>
    </div>
  </div>
</div>