<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">

            <div class="span12 text-center form-title">
                <h1><%= t("sessions.new.title") %></h1>
            </div>

            <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form', :class => 'custom-form'}) do |f| %>

                <div class="col-md-8 col-md-offset-2">
                    <%= devise_error_messages! %>
                </div>

                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <%= f.label t("sessions.new.login"), :required => false %>

                        <div class="col-xs-offset-10 col-sm-offset-11 col-md-offset-11 col-lg-offset-11" style="margin-top: -50px; margin-bottom: 10px;">
                            <% if devise_mapping.registerable? %>
                                <%= link_to t("sessions.new.sign-up"), new_registration_path(resource_name), :class => 'btn btn-outline-secondary', :style => 'float: right; margin-bottom: 20px'  %>
                            <% end %>
                        </div>

                        <%= f.text_field :login, :class => 'form-control', :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter a valid login.", :autofocus => true %>
                    </div>

                    <div class="form-group">
                        <%= f.label t("sessions.new.password"), :required => false %>

                        <div class="col-xs-offset-8 col-sm-offset-10 col-md-offset-10 col-lg-offset-10" style="margin-top: -50px; margin-bottom: 10px;">
                            <% if devise_mapping.recoverable? %>
                                <%= link_to t("sessions.new.forgot-password"), new_password_path(resource_name), :class => 'btn btn-outline-secondary', :style => 'float: right; margin-top: 10px; margin-bottom: 10px; '%>
                            <% end %>
                        </div>

                        <%= f.password_field :password, :class => 'form-control', :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter a password." %>
                    </div>

                </div>

                <div class="col-md-6 col-md-offset-2" >
                    <div class="form-group">
                        <% if devise_mapping.rememberable? %>
                            <%= f.check_box :remember_me %> <%= t("sessions.new.remember-me") %>
                        <% end %>
                    </div>
                </div>

                <div class="col-md-8 col-md-offset-2 d-flex justify-content-center">
                    <%= f.submit t("sessions.new.signin-button"), :class => 'btn btn-primary ' %>
                </div>

            <% end %>

      </div>
    </div>
  </div>
