<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">

      <h1>Editing Device</h1>

      <%= render 'form', device: @device %>

      <%= link_to 'Show', @device %> |
      <%= link_to 'Back', devices_path %>

    </div>
  </div>
</div>

