<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">

      <p id="notice"><%= notice %></p>

      <h1>Devices</h1>

      <table>
        <thead>
          <tr>
            <th>Speed</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>Accuracy</th>
            <th>Heading</th>
            <th>Altitude</th>
            <th>Altitudeaccuracy</th>
            <th>User</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @devices.each do |device| %>
            <tr>
              <td><%= device.speed %></td>
              <td><%= device.longitude %></td>
              <td><%= device.latitude %></td>
              <td><%= device.accuracy %></td>
              <td><%= device.heading %></td>
              <td><%= device.altitude %></td>
              <td><%= device.altitudeAccuracy %></td>
              <td><%= device.user %></td>
              <td><%= link_to 'Show', device %></td>
              <td><%= link_to 'Edit', edit_device_path(device) %></td>
              <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Device', new_device_path %>

    </div>
  </div>
</div>

