<h2>The list of vehicles</h2>
<%= f.input :vehicle_id, as: :radio_buttons, collection: @vehicles %>
<hr>
<h2>Payment methods/Charges</h2>
<%= f.input :payment_gateway, as: :radio_buttons,
            collection: ['Stripe', 'Paypal'] %>
