<!-- Page Content -->
<script src="https://js.stripe.com/v3/"></script>
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">

      <h2 class="text-center"> The list of parking payments </h2>

      <% if @parking_payments.count > 0 %>
        <table class="table">
        <thead class="thead-dark" >
        <tr>
          <th scope="col">User</th>
          <th scope="col">Vehicle</th>
          <th scope="col">Status</th>
          <th scope="col">Amount</th>
          <th scope="col">Submitted</th>
        </tr>
        </thead>
        <tbody>
        <% @parking_payments.each do |payment|%>
          <tr>
            <td><%= payment.user %></td>
            <td><%= payment.vehicle %></td>
            <td><%= payment.status %></td>
            <td><%= payment.amount %></td>
            <td><%= payment.created_at %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <% end %>
      <hr>
      <%= link_to "Parking payment", parking_payment_new_path %>
    </div>
  </div>
</div>
