<!-- Page Content -->
<script src="https://js.stripe.com/v3/"></script>
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">

      <!--Payment testing with Stripe-->
      <%= simple_form_for(@parking_payment,
                          :url => parking_payment_new_path(@parking_payment),
                          :html => { :class => 'form-group directFileUpload custom-form',
                          :role => 'form'}) do |f| %>
        <%= render 'fields', f: f %>
        <div class="col-md-8 col-md-offset-2 d-flex justify-content-center">
          <%= f.button :submit, "Submit", :class => 'btn btn-primary' %>
        </div>
    <% end %>
    </div>
  </div>
</div>
