<td>
    <%= link_to user.email, user %>
</td>
<td>
    <h4> <% user.roles.sort_by{|s| s.name}.each do |role| %>
            <%= role.name %>
        <% end %>
    </h4>
</td>
<td>
    <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>
