<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <%= simple_form_for @user, :url => user_update_path(@user), :html => { :method => 'put', :id => "form_video", :class => 'form-group directFileUpload', :role => 'form'} do |f| %>
        <div class="row m-y-2">
            <div class="col-lg-12 push-lg-4">
                <div class="oc-item">
                <div class="team team-list clearfix">
                  <div class="team-image">
                    <div class="fileinput-image">
                      <% if @current_user.profile_image_url.nil? %>
                        <img src="http://via.placeholder.com/150.png" class="m-x-auto img-fluid img-circle" alt="avatar">
                      <%else%>
                        <img src="<%= @current_user.profile_image_url%>" alt="avatar" width="150" height="150">
                      <% end %>
                    </div>
                  </div>
                  <div class="team-desc">
                    <div class="team-title"><h4><%= @current_user.username %></h4><span> <% if @current_user.business?  %> Business <% else %> User <% end %></span></div>
                    <div class="team-content">
                      <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                    </div>
                    <a href="#" class="social-icon si-rounded si-small si-facebook">
                      <i class="icon-facebook"></i>
                      <i class="icon-facebook"></i>
                    </a>
                    <a href="#" class="social-icon si-rounded si-small si-twitter">
                      <i class="icon-twitter"></i>
                      <i class="icon-twitter"></i>
                    </a>
                    <a href="#" class="social-icon si-rounded si-small si-gplus">
                      <i class="icon-gplus"></i>
                      <i class="icon-gplus"></i>
                    </a>
                  </div>
                </div>
              </div>
                <div class="tabs tabs-alt clearfix" id="tabs-profile">
                  <ul class="tab-nav clearfix nav nav-tabs">
                    <li>
                      <a href="" data-target="#messages" data-toggle="tab" ><i class="icon-reply"></i><%= t("users.messages") %></a>
                    </li>
                    <li>
                      <a href="" data-target="#edit" data-toggle="tab" ><i class="icon-pencil2"></i> <%= t("users.edit") %></a>
                    </li>
                    <li>
                      <a href="" data-target="#business" data-toggle="tab" ><i class="icon-users"></i><%= t("business") %></a>
                    </li>
                    <li>
                      <a href="" data-target="#payments" data-toggle="tab" ><i class="icon-money"></i><%= t("payments") %></a>
                    </li>
                    <li>
                      <a href="" data-target="#toll_devices" data-toggle="tab" ><i class="icon-microchip"></i><%= t("users.toll_devices.new.devices") %></a>
                    </li>
                  </ul>
                  <div class="tab-content p-b-3 clearfix">
                    <div class="tab-pane active clearfix" id="profile">
                      <p class="">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Laudantium harum ea quo! Nulla fugiat earum, sed corporis amet iste non,
                        id facilis dolorum, suscipit, deleniti ea. Nobis, temporibus magnam doloribus.
                        Reprehenderit necessitatibus esse dolor tempora ea unde, itaque odit. Quos.
                      </p>
                    </div>
                    <div class="tab-pane clearfix" id="messages">
                      <h4 class="m-y-2"><%= t("users.recent-notif") %></h4>
                      <div class="clear topmargin-sm"></div>
                      <ol class="commentlist noborder nomargin nopadding clearfix">
                        <li class="comment even thread-even depth-1" id="li-comment-1">
                          <div id="comment-1" class="comment-wrap clearfix">
                            <div class="comment-meta">
                              <div class="comment-author vcard">
																	<span class="comment-avatar clearfix">
																	<img alt='' src='http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60' class='avatar avatar-60 photo avatar-default' height='60' width='60' /></span>
                              </div>
                            </div>
                            <div class="comment-content clearfix">
                              <div class="comment-author">John Doe<span><a href="#" title="Permalink to this comment">April 24, 2012 at 10:46 am</a></span></div>
                              <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                              <a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>
                            </div>
                            <div class="clear"></div>
                          </div>
                          <ul class='children'>
                            <li class="comment byuser comment-author-_smcl_admin odd alt depth-2" id="li-comment-3">
                              <div id="comment-3" class="comment-wrap clearfix">
                                <div class="comment-meta">
                                  <div class="comment-author vcard">

																			<span class="comment-avatar clearfix">
																			<img alt='' src='http://1.gravatar.com/avatar/30110f1f3a4238c619bcceb10f4c4484?s=40&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40&amp;r=G' class='avatar avatar-40 photo' height='40' width='40' /></span>

                                  </div>
                                </div>
                                <div class="comment-content clearfix">
                                  <div class="comment-author"><a href='#' rel='external nofollow' class='url'>SemiColon</a><span><a href="#" title="Permalink to this comment">April 25, 2012 at 1:03 am</a></span></div>

                                  <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                                  <a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>
                                </div>
                                <div class="clear"></div>
                              </div>
                            </li>
                          </ul>
                        </li>

                        <li class="comment byuser comment-author-_smcl_admin even thread-odd thread-alt depth-1" id="li-comment-2">
                          <div class="comment-wrap clearfix">
                            <div class="comment-meta">
                              <div class="comment-author vcard">
																	<span class="comment-avatar clearfix">
																	<img alt='' src='http://1.gravatar.com/avatar/30110f1f3a4238c619bcceb10f4c4484?s=60&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G' class='avatar avatar-60 photo' height='60' width='60' /></span>
                              </div>
                            </div>
                            <div class="comment-content clearfix">
                              <div class="comment-author"><a href='http://themeforest.net/user/semicolonweb' rel='external nofollow' class='url'>SemiColon</a><span><a href="#" title="Permalink to this comment">April 25, 2012 at 1:03 am</a></span></div>

                              <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>

                              <a class='comment-reply-link' href='#'><i class="icon-reply"></i></a>
                            </div>
                            <div class="clear"></div>
                          </div>
                        </li>

                      </ol>

                    </div>
                    <div class="tab-pane clearfix" id="edit">
                      <h4 class="m-y-2"></h4>
                      <div class="col-lg-2 text-xs-center float-left">
                        <div class="fileinput-image">
                          <% if @current_user.profile_image_url.nil? %>
                            <img src="http://via.placeholder.com/150.png" class="m-x-auto img-fluid img-circle" alt="avatar">
                          <%else%>
                            <img src="<%= @current_user.profile_image_url%>" alt="avatar" width="150" height="150">
                          <% end %>
                        </div>

                        <span class="btn btn-success fileinput-button align-content-center" style="margin-left: 14px; margin-top: 20px;">
                        <!-- Change based on action -->
                        <div class="col-2" style="margin-left: 50px">
                            <%= f.file_field :profile_image_url, accept: '*', data: { 'resource-name' => 'image'}, :style => 'max-width: 334px;', :class => "vgyme_image_upload"  %>
                        </div>
                          <% if @current_user.profile_image_url.nil? %>
                            <span><%= t("users.upload-image") %></span>
                        <% else %>
                            <span><%= t("users.change-image") %></span>
                        <% end %>
                      </span>

                      </div>
                      <form role="form">
                        <div class="form-group row">
                          <label class="col-lg-2 col-form-label form-control-label"><%= t("users.username") %></label>
                          <div class="col-lg-9">
                            <%= f.input :username, :class => 'form-control', label:false %>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-lg-2 col-form-label form-control-label"><%= t("users.first-name") %></label>
                          <div class="col-lg-9">
                            <%= f.input :first_name, :class => 'form-control', label:false %>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-lg-2 col-form-label form-control-label"><%= t("users.last-name") %></label>
                          <div class="col-lg-9">
                            <%= f.input :last_name, :class => 'form-control' , label:false%>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-lg-2 col-form-label form-control-label"><%= t("users.email") %></label>
                          <div class="col-lg-9">
                            <%= f.input :email, :class => 'form-control', label:false %>
                          </div>
                        </div>
                      </form>
                      <div class="col_full nobottommargin title-center float-right" style="margin-right: 85px">
                        <%= f.button :submit, t("users.submit-button"), :class => 'btn btn-primary', :value => 'Save changes' %>
                      </div>
                    </div>
                    <div class="tab-pane clearfix events small-thumbs" id="business" >
                      <% if @current_user.business? and @business.present? %>
                        <div class="entry clearfix">
                          <div class="entry-image">
                            <a href="#">
                              <% if @business.logo_url.nil? %>
                                <img src="http://via.placeholder.com/150.png" class="m-x-auto img-fluid img-circle" alt="avatar">
                              <%else%>
                                <img src="<%= @business.logo_url %>" alt="avatar" width="150" height="150">
                              <% end %>
                            </a>
                          </div>
                          <div class="entry-c">
                            <div class="entry-title">
                              <h2><a href="#"><%= t("users.toll_devices.fields.name") %>: <%= @business.name %></a></h2>
                            </div>
                            <ul class="entry-meta clearfix">
                              <li><span class="badge badge-warning">Premium</span></li>
                              <% if @contacts.count > 0  %>
                                <% @contacts.each do |contact|%>
                                  <li><a href="<%= contact_show_path(contact) %>"><i class="icon-email3"></i> <%=  contact.email_primary %>, <%=  contact.telephone_primary %></a></li>
                                <% end %>
                              <% else %>
                                <li><a href="<%= contact_new_path %>"><i class="icon-line2-magnifier-add"></i> <%=  t("create") %></a></li>
                              <% end %>
                              <% if @addresses.count > 0 %>
                                <% @addresses.each do |address|%>
                                  <li><a href="<%= address_show_path(address) %>"><i class="icon-map-marker2"></i> <%=  address.city %>, <%=  address.country %></a></li>
                                <% end %>
                              <% else %>
                                <li><a href="<%= address_new_path %>"><i class="icon-line2-magnifier-add"></i> <%=  t("create") %></a></li>
                              <% end %>
                            </ul>
                            <div class="entry-content">
                              <p><%= t("users.toll_devices.fields.description") %>: <%= @business.description %></p>
                              <a href="<%= business_edit_path(@business) %>" class="btn btn-secondary" disabled="disabled"><%= t("edit") %></a> <a href="#" class="btn btn-danger">Подробнее</a>
                            </div>
                          </div>
                        </div>
                      <% else %>
                        <h2>You don`t have any business account yet!</h2>
                        <div class="d-flex justify-content-center">
                          <%= link_to t("create"), business_new_path, :class => ''%>
                        </div>
                      <% end %>
                    </div>
                    <div class="tab-pane clearfix" id="payments" >
                      <% if @parking_payments.count > 0 || @road_payments.count > 0 %>
                        <h2 class="text-center">The list of payments!</h2>
                      <% else %>
                        <h2 class="text-center">You don`t have any payments yet!</h2>
                      <% end %>
                      <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>Дата</th>
                          <th>Парковка</th>
                          <th>Время</th>
                          <th>Сумма</th>
                          <th>Авто </th>
                          <th>Номерной знак</th>
                          <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>
                            <code>5/3/2020</code>
                          </td>
                          <td>А1 PARK</td>
                          <td>2</td>
                          <td>500 (руб)</td>
                          <td>Nissan 100NX</td>
                          <td>M963DF178</td>
                          <td style="color: orange">В ожидании</td>
                        </tr>
                        <tr>
                          <td>
                            <code>5/3/2020</code>
                          </td>
                          <td>А1 PARK</td>
                          <td>2</td>
                          <td>500 (руб)</td>
                          <td>Nissan 100NX</td>
                          <td>M963DF178</td>
                          <td style="color: red">Не роплачен</td>
                        </tr>
                        <tr>
                          <td>
                            <code>5/3/2020</code>
                          </td>
                          <td>А1 PARK</td>
                          <td>2</td>
                          <td>500 (руб)</td>
                          <td>Nissan 100NX</td>
                          <td>M963DF178</td>
                          <td style="color: green">Оплачен</td>
                        </tr>
                        </tbody>
                      </table>

                    </div>
                    <div class="tab-pane clearfix" id="toll_devices" >
                      <% if @toll_devices.count > 0 %>

                        <table class="table">
                          <thead class="thead-dark" >
                          <tr>
                            <th scope="col"><%= t("image") %></th>
                            <th scope="col"><%= t("users.toll_devices.fields.name") %></th>
                            <th scope="col"><%= t("users.toll_devices.fields.description") %></th>
                            <th scope="col"><%= t("users.toll_devices.fields.price") %></th>
                            <th scope="col"><%= t("users.toll_devices.fields.model") %></th>
                            <th scope="col"><%= t("users.toll_devices.fields.token") %></th>
                          </tr>
                          </thead>
                          <tbody>
                          <% @toll_devices.each do |toll_device|%>
                            <tr>
                              <td><img src="<%= toll_device.device_image_url %>" alt="avatar" width="50" height="50"></td>
                              <td><%= toll_device.name %></td>
                              <td><%= toll_device.description %></td>
                              <td><%= toll_device.price %> RUB</td>
                              <td><%= toll_device.model %></td>
                              <td><div style='width: 150px;'><%= toll_device.device_token %></div></td>
                            </tr>
                          <% end %>
                          </tbody>
                        </table>
                      <% else %>
                        <h2>You don`t have any Devices yet!</h2>
                        <div class="d-flex justify-content-center">
                          <%= link_to t("create"), toll_device_new_path %>
                        </div>
                      <% end %>
                    </div>
                  </div>

                </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<hr>

<script>
    $(document).ready(function(){
        InitFileUpload();
    });
</script>