<section id="content" class="mt30 mb15">
    <div class="container">
        <div class="row">
            <section class="pricing mb30">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">

                        </div>

                        <div class="col-sm-4">
                            <div  style="margin-top: 0px;" class="pricingBloc">
                                <table class="table table-striped table-hover">

                                    <tbody>
                                    <tr>
                                        <td style="font-size: 20px;">Username: </td>
                                        <td style="padding-top: 12px; font-size: 15px;"><%= @user.username %></td>
                                    </tr>

                                    <% if @visitor.admin? %>
                                        <tr>
                                            <td style="font-size: 20px;">Email: </td>
                                            <td style="padding-top: 12px; font-size: 15px;word-wrap: break-word;max-width: 250px;"><%= @user.email %></td>
                                        </tr>
                                    <% end %>

                                    <% if @user.admin? %>
                                        <tr>
                                            <td style="font-size: 20px;">First Name: </td>
                                            <td style="padding-top: 12px; font-size: 15px;"><%= @user.first_name %></td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 20px;">Last Name: </td>
                                            <td style="padding-top: 12px; font-size: 15px;"><%= @user.last_name %></td>
                                        </tr>
                                    <% end %>

                                    <tr>
                                        <td style="font-size: 20px;">Gender: </td>
                                        <td style="padding-top: 12px; font-size: 15px;"><%= @user.gender == 'M' ? 'Male' : 'Female' %></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 20px;">Joined On: </td>
                                        <td style="padding-top: 12px; font-size: 15px;"><%= @user.confirmed_at.to_date %></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>