<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">

      <h1 class="text-center" style="margin-bottom: 20px">Upgrade your account by choosing the following options</h1>
      <div class="card float-left text-center upgrade">
          <img src="https://pbs.twimg.com/profile_images/910106969381441536/A4RpaHTW_400x400.jpg" width="250" height="250">

              <h5 class="card-title">Upgrade to Driver</h5>
              <% if current_user.driver? || current_user.business? %>
                <a href="#" class="btn btn-primary disabled">Driver</a>
              <% else %>
                <a href="<%= driver_new_path %>" class="btn btn-primary ">Driver</a>
              <% end %>

              <p class="card-text">By upgrading account to Driver, users will receive following priviliges that are listed below.</p>

          <ul class="list-group list-group-flush">
              <li class="list-group-item">Create vehicles</li>
              <li class="list-group-item">Apply for tourist excursions</li>
              <li class="list-group-item">Receive notifications about latest tours</li>
          </ul>

      </div>
      <div class="card float-left text-center upgrade">
          <img src="https://png.pngtree.com/element_origin_min_pic/16/09/05/2357cd90cbd5291.jpg" width="250" height="250">

              <h5 class="card-title">Upgrade to Business</h5>
        <% if current_user.driver? || current_user.business? %>
          <a href="#" class="btn btn-primary disabled">Business</a>
        <% else %>
          <a href="<%=  business_new_path %>" class="btn btn-primary">Business</a>
        <% end %>

              <p class="card-text">By upgrading account to Business, users will receive following privileges that are listed below.</p>

          <ul class="list-group list-group-flush">
              <li class="list-group-item">Give announcements about latest tours</li>
              <li class="list-group-item">Access to the Drivers "profile page"</li>
              <li class="list-group-item">Call for Drivers</li>
          </ul>
      </div>
      <div class="card float-left text-center upgrade">
          <img src="https://static1.squarespace.com/static/5aef78953e2d09ad52751923/t/5b320d9f70a6ad426f4e3306/1530006949492/Premium.png" width="250" height="250">

              <h5 class="card-title"> Upgrade to Premium</h5>
              <a href="#" class="btn btn-primary">Premium</a>

              <p class="card-text">By upgrading account to Premium, users will receive following privileges that are listed below.</p>

          <ul class="list-group list-group-flush" id ="#planFeatures">
              <li class="list-group-item">Access to ship schedules</li>
              <li class="list-group-item">Access to the latest tours</li>
              <li class="list-group-item">Possibility to apply for a tour</li>
          </ul>
      </div>

    </div>
  </div>
</div>

