<%= simple_form_for(@address, :url => address_new_path(@address), :html => { :id => "form_driver", :class => 'form-group directFileUpload custom-form', :role => 'form'}) do |f| %>

    <div class="col-md-8 col-md-offset-2 request-fields">
            <div class="col-md-12 form-group">

                <%= f.label :address_primary, t("users.address.address_fileds.address_primary") %>
                <%= f.text_field :address_primary, :class => 'form-control', :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter your address."  %>
                <%= f.label :address_secondary, t("users.address.address_fileds.address_secondary") %>
                <%= f.text_field :address_secondary, :class => 'form-control' %>
                <%= f.label :city, t("users.address.address_fileds.city") %>
                <%= f.input :city, :class => 'form-control', :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter your city.", :label => false  %>
                <%= f.label :region, t("users.address.address_fileds.region") %>
                <%= f.input :region, :class => 'form-control', :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter your region.", :label => false  %>
                <%= f.label :country, t("users.address.address_fileds.country") %>
                <%= f.text_field :country, :class => 'form-control', :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter your region.", :label => false  %>
                <%= f.label :zip, t("users.address.address_fileds.zip") %>
                <%= f.input :zip, :class => 'form-control', :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter your zip index.", :label => false  %>
            </div>

    </div>



    <div class="col-md-8 col-md-offset-2 d-flex justify-content-center">
      <%= f.button :submit, :class => 'btn btn-primary' %>
    </div>

<% end %>
