<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">
        <h1 class="text-center"><%= t("users.address.new.title") %></h1>
        <%= render 'form', address: @address %>
    </div>
  </div>                                                                            
</div>                                                                  