<%= simple_form_for(@contact, :url => contact_new_path(@contact), :html => { :id => "form_driver", :class => 'form-group directFileUpload custom-form', :role => 'form'}) do |f| %>

    <div class="col-md-8 col-md-offset-2 request-fields">
            <div class="col-md-12 form-group">

                <%= f.label :email_primary, t("users.contacts.contact_fields.email_primary") %>
                <%= f.text_field :email_primary, :class => 'form-control', :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter your email."  %>
                <%= f.label :email_emergency, t("users.contacts.contact_fields.email_emergency") %>
                <%= f.text_field :email_emergency, :class => 'form-control' %>
                <%= f.label :telephone_primary, t("users.contacts.contact_fields.telephone_primary") %>
                <%= f.input :telephone_primary, :class => 'form-control', :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter your phone number.", :label => false  %>
                <%= f.label :telephone_emergency, t("users.contacts.contact_fields.telephone_emergency") %>
                <%= f.input :telephone_emergency, :class => 'form-control', :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter your phone number.", :label => false  %>
                <%= f.label :website_url, t("users.contacts.contact_fields.website_url") %>
                <%= f.text_field :website_url, :class => 'form-control', :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter your website url .", :label => false  %>
            </div>

    </div>



    <div class="col-md-8 col-md-offset-2 d-flex justify-content-center">
      <%= f.button :submit, :class => 'btn btn-primary' %>
    </div>

<% end %>
