<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">

        <h2 class="text-center"> The list of currently available drivers </h2>
        <% if @addresses.count > 0%>
        <% @addresses.each do |address|%>
            <div class="card-deck">
                <div class="card">
                    <img src="<%= driver.license_image_url %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="<%= address_show_path(address) %>" class="card-title text-center"><%= address.address_primary %></a>
                        <p class="card-text"><%= address.address_secondary %></p>
                        <p class="card-text"><small class="text-muted">City: <%= address.city %></small></p>
                        <p class="card-text"><small class="text-muted">Region: <%= address.region %></small></p>
                        <p class="card-text"><small class="text-muted">Region: <%= address.country %></small></p>
                        <p class="card-text"><small class="text-muted">ZIP: <%= address.zip %></small></p>
                        <p class="card-text"><small class="text-muted">Last updated: <%= address.updated_at.to_s %></small></p>
                    </div>
                </div>
            </div>
        <% end %>
        <% else %>
        <h4>You don`t have any address created yet!</h4>
        <% end %>
    </div>
  </div>
</div>