<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">
        <h1 class="text-center"><%= t("users.contacts.new.title") %></h1>
        <%= render 'form', contact: @contact %>
    </div>
  </div>
</div>