

<%= simple_form_for(@toll_device, :url => toll_device_new_path(@toll_device), :html => { :id => "form_business", :class => 'form-group directFileUpload', :role => 'form'}) do |f| %>

    <div class="col-md-12 col-md-offset-2 request-fields">
            <div class="col-md-12 form-group">

                <%= f.label :name %>
                <%= f.text_field :name, :class => 'form-control', :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter your company name."  %>

                <%= f.input :description  %>
                <%= f.select :toll_type, [['Parking', 'Parking'], ['Road', 'Road']], { :class => 'form-control', :"data-fv-field"=> "user[company_type]",:"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Select toll type",  } %>
                <%=f.input :price %>
                <%=f.input :model %>
            </div>

            <div class="col-md-12 form-group">
                <%= f.label :device_image_url,"Image Upload" %>
                <div class="fileinput-image">
                    <% unless @toll_device.device_image_url.nil? %>
                        <img src="<%= @toll_device.image_url %>" style="width:250px; height:250px" >
                    <% else %>
                        <h2>No Image</h2>
                    <% end %>
                </div>

                <span class="btn btn-success fileinput-button">
                          <!-- Change based on action -->
                    <% if current_page?(action: 'new')|| @toll_device.device_image_url.nil? %>
                    <span>Upload Image</span>
                  <% else %>
                    <span>Change Image</span>
                  <% end %>

                    <%= f.file_field :device_image_url, accept: '*', data: { 'resource-name' => 'image'} %>
                </span>

              </div>

    </div>



    <div class="col-md-8 col-md-offset-2 d-flex justify-content-center">
      <%= f.button :submit, :class => 'btn btn-primary' %>
    </div>

<% end %>

<script>
    $(document).ready(function(){
        InitFileUpload();
    });
</script>