<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">

      <h2 class="text-center"> The list of Toll Devices </h2>
    </div>
  </div>
</div>