<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">

        <h1 class="text-center"><%= action_name.humanize %> Toll Device</h1>

        <%= render 'form', toll_device: @toll_device %>

    </div>
  </div>
</div>