<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">

      <h1 class="text-center">My account</h1>
      <div class="row">
          <div class="col-md-4">
              <img src="<%= @business.logo_url %>" width="300" height="250">
          </div>
          <div class="col-md-8">
              <div class="btn-group float-right" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-secondary " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Main</button>
                  <button type="button" class="btn btn-secondary"  href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">Driver</button>
                  <button type="button" class="btn btn-secondary"  href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample2">Business</button>
              </div>

              <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                      <table class="table table-borderless ">
                          <thead>
                          <tr>
                              <th scope="col">Company name:</th>
                              <th scope="col"><%= @business.name%></th>
                          </tr>
                          <tr>
                              <th scope="col">ID:</th>
                              <th scope="col"><%= @business.unique_id%></th>
                          </tr>
                          <tr>
                              <th scope="col">Established:</th>
                              <th scope="col"><%= @business.established%></th>
                          </tr>
                          <tr>
                              <th scope="col">Expiry date:</th>
                              <th scope="col"><%= @business.expiry_date%></th>
                          </tr>
                          <tr>
                              <th scope="col">Company type:</th>
                              <th scope="col"><%= @business.company_type%></th>
                          </tr>
                          <tr>
                              <th scope="col">Email:</th>
                              <th scope="col"><%= @business.email_domain%></th>
                          </tr>
                          <tr>
                              <th scope="col">Address:</th>
                              <th scope="col"><%= @business.address%></th>
                          </tr>
                          <tr>
                              <th scope="col">ZIP:</th>
                              <th scope="col"><%= @business.zip%></th>
                          </tr>
                          <tr>
                              <th scope="col">City:</th>
                              <th scope="col"><%= @business.city%></th>
                          </tr>
                          <tr>
                              <th scope="col">Region:</th>
                              <th scope="col"><%= @business.region%></th>
                          </tr>
                          <tr>
                              <th scope="col">Contacts:</th>
                              <th scope="col"><%= @business.contacts%></th>
                          </tr>
                          <tr>
                              <th scope="col">Website:</th>
                              <th scope="col"><%= @business.website_url%></th>
                          </tr>

                          </thead>
                      </table>
                  </div>
              </div>
          </div>
      </div>


    </div>
  </div>
</div>