jQuery ->
  if $('#infinite-scrolling').length > 0
    $(window).on 'scroll', ->
      next_page_url = $('#infinite-scrolling').find('a.next_page').attr('href')
      if next_page_url && $(window).scrollTop() > $(document).height() - $(window).height() - 100
        $('.pagination').html('<%= image_tag 'canvas/images/preloader.gif', alt: 'Loading...', title: 'Loading...', class: 'center-block' %>')
        $.getScript next_page_url
      return
  return