<!-- Page Content -->
<div class="container fluid">
  <div class="card card-form border-0 shadow my-5">
    <div class="card-body">

        <div class="span12 text-center mb30" style="margin-top: 40px">
            <h3>The instructions will be sent to your email!</h3>
        </div>

        <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :role => 'form', :style => 'margin-left: 250px'}) do |f| %>

            <div class="col-md-8 col-md-offset-2">
                <%= devise_error_messages! %>
            </div>

            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <%= f.label :email, :required => false %>
                    <%= f.email_field :email, :autofocus => true, :class => 'form-control', :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter a email.",  :"data-fv-emailaddress-message"=>"Your email is invalid." %>
                </div>

                <%= f.submit 'Reset Password', :class => 'btn btn-outline-secondary ', :style => 'width: 40%; float: right;' %>
            </div>


        <% end %>

    </div>
  </div>
</div>
