<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">

      <h2 class="text-center"> The list of currently available companies </h2>
      <% @businesses.each do |business|%>
          <div class="card-deck">
              <div class="card">
                  <img src="<%= business.logo_url %>" class="card-img-top" alt="..." width="250" height="300">
                  <div class="card-body">
                      <a href="<%= business_path %>" class="card-title text-center"><%= business.company_type %> <%= business.name %></a>
                      <p class="card-text"><%= business.description %></p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
              </div>
              <div class="card">
                  <img src="<%= business.logo_url %>" width="250" height="300" class="card-img-top" alt="...">
                  <div class="card-body">
                      <a href="<%= business_path %>" class="card-title text-center"><%= business.company_type %> <%= business.name %></a>
                      <p class="card-text"><%= business.description %></p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
              </div>
              <div class="card">
                  <img src="<%= business.logo_url %>" width="250" height="300" class="card-img-top" alt="...">
                  <div class="card-body">
                      <a href="<%= business_path %>" class="card-title text-center"><%= business.company_type %> <%= business.name %></a>
                      <p class="card-text"><%= business.description %></p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
              </div>
          </div>
      <% end %>

    </div>
  </div>
</div>