<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">

        <h1 class="text-center"><%= action_name.humanize %> Business</h1>

        <%= render 'form', businesses: @business %>

    </div>
  </div>
</div>