<div class="col-md-8 col-md-offset-2 request-fields">
    <div class="col-md-12 form-group">
      <%= f.label t("users.services.service_fields.name") %>
      <%= f.text_field :name, :class => 'form-control', :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter your service license number."  %>
      <%= f.label t("users.services.service_fields.description") %>
      <%= f.input :description, label: false%>
      <%= f.label t("users.services.service_fields.price") %>
      <%= f.input :price, label: false%>
    </div>
    <div class="col-md-12 form-group">
      <div class="fileinput-image">
        <% unless @service.service_image_url.nil? %>
          <img src="<%= @service.service_image_url %>" style="width:250px; height:250px" >
        <% else %>
          <h5><%= t("users.vehicles.vehicle_fields.no-image") %></h5>
        <% end %>
      </div>

      <span class="btn btn-success fileinput-button">
        <div class="col-2" style="margin-left: 50px">
            <%= f.file_field :service_image_url, accept: '*', data: { 'resource-name' => 'image'}, :class => "vgyme_image_upload" %>
        </div>
        <!-- Change based on action -->
        <% if current_page?(action: 'new') || @service.service_image_url.nil? %>
          <span><%= t("users.vehicles.vehicle_fields.upload-image") %></span>
        <% else %>
          <span><%= t("users.vehicles.vehicle_fields.change-image") %></span>
        <% end %>
      </span>
    </div>
</div>




<script>
  $(document).ready(function(){
      InitFileUpload();
  });
</script>