<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">
      <section id="page-title">

        <div class="container clearfix">
          <h1><%= t("users.services.index.title") %></h1>
        </div>

      </section><!-- #page-title end -->
      <section id="content">
        <div class="content-wrap">

          <div class="container clearfix">
            <% @services.each do |service|%>
              <div class="col_one_third nobottommargin" style="margin-left: -15px;">
                <div class="feature-box media-box">
                  <div class="fbox-media">
                    <img src="<%= service.service_image_url %>" alt="Why choose Us?">
                  </div>
                  <div class="fbox-desc">
                    <h3><%= service.name %><span class="subtitle"><%= service.expiry_date %></span></h3>
                    <p><%= service.description %></p>
                  </div>
                  <a href="<%= service_show_path(service) %>">Learn more &rarr;</a>
                  <a href="<%= service_edit_path(service) %>" style="float: right">Edit</a>
                </div>
              </div>
            <% end %>
          </div>

        </div>
      </section><!-- #content end -->
      <div class="d-flex justify-content-center" style="margin-bottom: 40px;">
        <%= link_to t("users.services.index.create-button"), service_new_path, :class => 'btn btn-primary '%>
      </div>
    </div>
  </div>
</div>

<script>

    var randomScalingFactor = function() {
        return Math.round(Math.random() * 100);
    };

    var config = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                ],
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.orange,
                    window.chartColors.yellow,
                    window.chartColors.green,
                    window.chartColors.blue,
                ],
                label: 'Dataset 1'
            }],
            labels: [
                "Red",
                "Orange",
                "Yellow",
                "Green",
                "Blue"
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: false,
                position: 'top',
            },
            title: {
                display: false,
                text: 'Doughnut Chart'
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        }
    };


    // Radar Chart

    var color = Chart.helpers.color;
    var configRadar = {
        type: 'radar',
        data: {
            labels: [["Eating", "Dinner"], ["Drinking", "Water"], "Sleeping", ["Designing", "Graphics"], "Coding", "Cycling", "Running"],
            datasets: [{
                label: "My First dataset",
                backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                borderColor: window.chartColors.red,
                pointBackgroundColor: window.chartColors.red,
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor()
                ]
            }, {
                label: "My Second dataset",
                backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                borderColor: window.chartColors.blue,
                pointBackgroundColor: window.chartColors.blue,
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor()
                ]
            },]
        },
        options: {
            legend: {
                display: false
            },
            title: {
                display: false
            },
            scale: {
                ticks: {
                    beginAtZero: true
                }
            }
        }
    };

    window.onload = function() {
        var ctx = document.getElementById("chart-doughnut").getContext("2d");
        window.myDoughnut = new Chart(ctx, config);
        window.myRadar = new Chart(document.getElementById("chart-radar"), configRadar);
    };

</script>