<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body">

        <h1 class="text-center"><%= t("users.services.new.title") %> </h1>

        <%= simple_form_for(@service, :url => service_new_path(@service), :html => { :id => "form_service", :class => 'form-group directFileUpload custom-form', :role => 'form'}) do |f| %>
          <%= render 'form', f: f %>

          <div class="col-md-8 col-md-offset-2 d-flex justify-content-center">
            <%= f.button :submit, t("users.services.new.create-button"), :class => 'btn btn-primary' %>
          </div>
        <% end %>

    </div>
  </div>
</div>