<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">

      <!-- Page Title
		============================================= -->

      <!-- Content
      ============================================= -->
      <section id="content">
        <h1><%= t("about") %></h1>

        <div class="content-wrap">

          <div class="container clearfix">

            <div class="col_one_third">

              <div class="heading-block fancy-title nobottomborder title-bottom-border">
                <h4>Why choose <span>Us</span>.</h4>
              </div>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

            </div>

            <div class="col_one_third">

              <div class="heading-block fancy-title nobottomborder title-bottom-border">
                <h4>Our <span>Mission</span>.</h4>
              </div>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

            </div>

            <div class="col_one_third col_last">

              <div class="heading-block fancy-title nobottomborder title-bottom-border">
                <h4>What we <span>Do</span>.</h4>
              </div>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem minus id omnis, nam expedita, ea fuga commodi voluptas iusto, hic autem deleniti dolores explicabo labore enim repellat earum perspiciatis.</p>

            </div>

          </div>

          <div class="section nomargin">
            <div class="container clearfix">

              <div class="col_one_fourth nobottommargin center" data-animate="bounceIn">
                <i class="i-plain i-xlarge divcenter icon-line2-directions"></i>
                <div class="counter counter-lined"><span data-from="100" data-to="846" data-refresh-interval="50" data-speed="2000"></span>K+</div>
                <h5>Lines of Codes</h5>
              </div>

              <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="200">
                <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-graph"></i>
                <div class="counter counter-lined"><span data-from="3000" data-to="15360" data-refresh-interval="100" data-speed="2500"></span>+</div>
                <h5>KBs of HTML Files</h5>
              </div>

              <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="400">
                <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-layers"></i>
                <div class="counter counter-lined"><span data-from="10" data-to="408" data-refresh-interval="25" data-speed="3500"></span>*</div>
                <h5>No. of Templates</h5>
              </div>

              <div class="col_one_fourth nobottommargin center col_last" data-animate="bounceIn" data-delay="600">
                <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-clock"></i>
                <div class="counter counter-lined"><span data-from="60" data-to="1200" data-refresh-interval="30" data-speed="2700"></span>+</div>
                <h5>Hours of Coding</h5>
              </div>

            </div>
          </div>

        </div>

      </section><!-- #content end -->

    </div>
  </div>
</div>