<!-- Page Content -->
<div class="container fluid">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">


      <section id="page-title">

        <div class="container clearfix">
          <h1>API</h1>
          <span>Full Plate Vision API documentation</span>
        </div>
      </section>

      <!-- Content
		============================================= -->
      <section id="content">

        <div class="content-wrap">

          <div class="container clearfix">

            <!-- Post Content
            ============================================= -->
            <div class="postcontent col_last nobottommargin clearfix">

              <div id="faqs" class="faqs">

                <div id="faqs-list" class="fancy-title title-bottom-border">
                  <h3>API Reference</h3>
                </div>

                <ul class="iconlist faqlist">
                  <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-1">Authentication</a></strong></li>
                  <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-2">Connected Accounts</a></strong></li>
                  <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-4">Errors</a></strong></li>
                  <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-5">Toll devices</a></strong></li>
                  <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-6">Payment</a></strong></li>
                  <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-7">Balance</a></strong></li>
                  <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-8">Invoices</a></strong></li>
                  <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-9">Plans</a></strong></li>
                  <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-10">Subscriptions</a></strong></li>
                  <li><i class="icon-caret-right"></i><strong><a href="#" data-scrollto="#faq-11">Accounts</a></strong></li>
                </ul>

                <div class="divider"><i class="icon-circle"></i></div>

                <h3 id="faq-1"><strong>Q.</strong> Authentication Bussiness</h3>
                <pre>/users/businesses/business/new(.:format)</pre>


                <div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>

                <h3 id="faq-2"><strong>Q.</strong> Connected Accounts</h3>
                <pre> /users/businesses</pre>
                <pre>/users/businesses/address/new(.:format)</pre>
                <pre>/users/businesses/contact/new(.:format)</pre>

                <div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>

                <h3 id="faq-3"><strong>Q.</strong> Errors</h3>
                <p>/users/businesses/business/errors</p>

                <div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>

                <h3 id="faq-4"><strong>Q.</strong> Toll devices</h3>
                <pre>/users/businesses/toll_device/new(.:format)</pre>
                <pre>/users/businesses/toll_devices/:toll_device_id/edit(.:format)</pre>
                <pre>//users/businesses/toll_devices/:toll_device_id/delete(.:format)</pre>


                <div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>

                <h3 id="faq-5"><strong>Q.</strong> Payment</h3>
                <pre>/parking_payments(.:format)   </pre>
                <pre>/users/parking_payment/new(.:format)   </pre>
                <pre>/users/parking_payments/submit(.:format) </pre>
                <pre>/users/parking_payments/:parking_payment_id/delete(.:format) </pre>

                <div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>

                <h3 id="faq-6"><strong>Q.</strong> Balance</h3>
                <pre>/users/businesses/business_id/balance</pre>

                <div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>

                <h3 id="faq-7"><strong>Q.</strong> Invoices</h3>
                <pre>/road_payments(.:format)</pre>
                <pre>/road_payments/new(.:format)</pre>
                <pre>/road_payments/submit(.:format)</pre>

                <div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>

                <h3 id="faq-8"><strong>Q.</strong> Plans</h3>
                <pre>/users/businesses/business_id/plans</pre>

                <div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>

                <h3 id="faq-9"><strong>Q.</strong> Subscriptions</h3>
                <pre>users/business/business_id/subscriptions</pre>

                <div class="divider divider-right"><a href="#" data-scrollto="#faqs-list"><i class="icon-chevron-up"></i></a></div>

                <h3 id="faq-10"><strong>Q.</strong> Accounts</h3>
                <pre>users/accounts</pre>

              </div>

            </div><!-- .postcontent end -->
          </div>

        </div>

      </section><!-- #content end -->


    </div>
  </div>
</div>