<!-- Modal -->
<div class="modal fade" id="langModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Languages</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 0 !important;">
        <ul class="langList">
          <% I18n.available_locales.each do |lang| %>
            <li>
              <%= link_to t(lang), change_locale_path(lang) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>