<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-title">
        <a class="navbar-brand" href="<%= root_path %>">Plate Vision</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Main navigation -->
        <%= render_navigation :expand_all => true, :context => :main %>
        <!-- End main navigation -->

    </div>
</nav>
