<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>

    <meta charset="utf-8" />
    <meta name="author" content="Adlife" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%# Application CSS & JS and all includes %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>

    <%# Meta Data %>
    <%= csrf_meta_tags %>

    <title><%= content_for?(:title) ? yield(:title) : "WebAlpr" %></title>
  </head>

  <body class="stretched sticky-responsive-menu">

        <%# Main  navigation content %>
        <%= render 'layouts/navigation' %>

        <%# Languages Modal Popup %>
        <%= render 'layouts/languages_modal' %>

        <!-- Notifications -->
        <%= render 'layouts/notifications' %>

        <%# Main page content %>
        <%= yield %>

        <%# Main footer content %>
        <%= render 'layouts/footer' %>

        <!-- Canvas Javascript Functions  ============================================= -->
        <%= javascript_include_tag "canvas/js/functions" %>
  </body>
</html>