<!-- Page Content -->
<div class="container fluid">
  <div class="card card-form border-0 shadow my-5">
    <div class="card-body">

            <div class="span12 text-center mb40">
                <h1>Change your account information</h1>
            </div>

            <%= simple_form_for(resource, :as => resource_name, :url => update_user_registration_path, :html => { :method => :put, :id => "form_user_edit", :class => 'directFileUpload custom-form', data: { 's3-host' => URI.parse(@s3_avatar_post.url).host }, :role => 'form', :"data-persist"=>"garlic", :"data-fv-framework"=>"bootstrap", :"data-fv-icon-valid"=>"icon-line-check", :"data-fv-icon-invalid"=>"icon-line-cross", :"data-fv-icon-validating"=>"icon-line2-refresh"}) do |f| %>

                <%= render 'form', f: f %>

                <div class="col-md-8 col-md-offset-2">
                    <br>
                    <h1  style="border-top: 1px dashed #c8c8c8"></h1>
                    <br>
                    <h2 class="text-center">Confirm your changes</h2>
                    <div class="form-group">
                        <%= f.label :current_password, :required => false %>
                        <%= f.password_field :current_password, :class => 'form-control', :"data-fv-notempty"=>"true", :"data-fv-notempty-message"=>"Please enter a password."%>
                    </div>


                    <div class="form-group">
                        <%= f.submit 'Save Changes', :class => 'center-block btn btn-lg' %>
                    </div>
                </div>

            <% end %>

        </div>
    </div>
</div>